﻿@model ProjektFit.Models.Exercise

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ExerciseId" />
        <input type="submit" value="Delete" class="btn btn-default" />
        
    </form>
</div>
<p>
    <a asp-action="Details" asp-route-id="@Model.ExerciseId"><font color="black">Back to exercise</font></a>
</p>
