﻿@model ProjektFit.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <iframe width="854"
                    height="480"
                    src=@Html.DisplayFor(model => model.Url)
                    frameborder="0"
                    allowfullscreen></iframe>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>
        <dt>
            Owner
        </dt>
        <dd>
            @ViewBag.Owner
        </dd>
    </dl>
</div>
@if (ViewBag.AbleToModify == true)
{
    <p>
        <a asp-action="Edit" asp-route-id="@Model.ExerciseId"><font color="navy">Edit</font></a>
    </p>
    <p>
        <a asp-action="Delete" asp-route-id="@Model.ExerciseId"><font color="red">Delete</font></a>
    </p>
}
<div>
    <a asp-action="Index"><font color="black">Back to List</font></a>
</div>
