﻿@model IEnumerable<ProjektFit.Models.Exercise>


@{
    ViewData["Title"] = "Index";
}

<h2>Exercises</h2>
<p>
    <a asp-action="Create"><font color="teal">Create New</font></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calories)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ExerciseId"><font color="navy">Details</font></a>
                </td>
            </tr>
        }
    </tbody>
</table>

