﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4"></h1>
    <body>
        <img src="~/css/jpgso.jpg" alt="cos nie pykło" />

        <center>
            <h4>AUTHORS:</h4>
         <i>Adrianna Justyna Krymska <br/>
            Izabela Siemaszko <br/>
            Michał Szorc</i>
        </center>
    </body>
</div>


