﻿@model ProjektFit.Models.CalculatorBMR
@{
    ViewData["Title"] = "Index";
}
<h2>Basal Metabolic Rate (BMR)</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<CalculatorBMR.Genderr>()">
                    <option selected="selected" value="">Select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input type="number" asp-for="Age" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label> (kg)
                <input type="number" asp-for="Weight" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label> (cm)
                <input type="number" asp-for="Height" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <select asp-for="Activity" class="form-control" asp-items="Html.GetEnumSelectList<CalculatorBMR.Activityy>()">
                    <option selected="selected" value="">Select</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" asp-action="Index" />
            </div>
            <div>

            </div>
            <tr>
                <th>Result: </th>
                <th>    </th>
                @ViewBag.Result

            </tr>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
