﻿@model ProjektFit.Models.BmiModel
@{
    ViewData["Title"] = "Index";
}
<fieldset>
    <h2>Body Mass Index (BMI)</h2>
        <div class="row">
            <div class="col-md-4">

                <form asp-action="bmi">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Wzrost" class="control-label"></label>
                        <input type="number" asp-for="Wzrost" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="Waga" class="control-label"></label>
                        <input type="number" asp-for="Waga" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" />
                    </div>
                    <tr>
                        <th>Result: </th>
                        <th>    </th>
                        @ViewBag.Resultdwa
                    </tr>
                    <p>
                        @ViewBag.Result
                    </p>
                </form>
            </div>
        </div>
</fieldset>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<!--
<form action="rl.Action("Waga","Bmi")"method="post">


    <select name="plec">
        <option>kobieta</option>
        <option>mezczyzna</option>
    </select>
    <br />
    <label for="name">Waga: </label>
    <input type="number" name="Waga" required
           min="1" max="100"> kg
    <br />
    <label for="name">Wzrost: </label>
    <input type="number" name="Wzorst" required min="1" max="300"> cm
    <br />
    <button class="favorite styled"
            type="submit">
        Odpowiedz
    </button>

</form>


</form>
<div class="form-group">
    %    <label asp-for="Plec" class="control-label"></label>
    %  <select asp-for="Plec" class="form-control" asp-items="ViewBag.Plec"></select>
    %
</div>
-->
