﻿@model List<string>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@using (Html.BeginForm("About", "Home", FormMethod.Post))
{
    @for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(model => Model[i])
    }

    <input type="submit" value="Wyślij" />
}
