﻿@model ProjektFit.Models.Group
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<p>
    @if (ViewBag.Group == 1)
    {
    <p>
        <a asp-action="Edit" asp-route-id="@Model.GroupId"><font color="navy">Edit</font></a>
    </p>
    <p>
        <a asp-action="Delete" asp-route-id="@Model.GroupId"><font color="red">Delete</font></a>
    </p>
    <p>
        <a asp-action="AddUser" asp-route-id="@Model.GroupId"><font color="teal">Add a User to the group</font></a>
    </p>
}
    @if (ViewBag.Group == 2)
    {
        <p>
            <a asp-action="AddUser" asp-route-id="@Model.GroupId"><font color="teal">Add a User to the group</font></a>
        </p>
    }

    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.Type)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Date)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Place)
                </td>
                <td>
                    <a href="/Groups/Members/@Html.DisplayFor(model => model.GroupId)"><font color="navy">Members</font></a>
                    @if (ViewBag.AbleToModify == true)
                    {
                        <text> | </text>
                        <a asp-action="RemoveUser" asp-route-id="@Model.GroupId"><font color="red">Remove</font></a>
                    }
                </td>
            </tr>

        </tbody>
    </table>
    <p>
        <dt>
            Owner Group
        </dt>
        <dd>
            @ViewBag.Owner
        </dd>
    </p>
    <p>
        <a asp-action="IndexPrivate"><font color="black">Back to List</font></a>
    </p>
