﻿@model IEnumerable<ProjektFit.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h2>Public groups</h2>

<p>
    <a asp-action="IndexPrivate"><font color="teal">See all groups</font></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if(item.Type=="Public")
            {
            <td>

                @Html.DisplayFor(modelItem => item.Type)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
         
            }


        </tr>
}
    </tbody>
</table>
