﻿@model IEnumerable<ProjektFit.Models.Group>

@{
    ViewData["Title"] = "Index";
}
<h2>All groups</h2>
<p>
    <a asp-action="Create"><font color="teal">Create New Group</font></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.GroupId"><font color="navy">Details</font></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Index"><font color="black">Back to public list</font></a>
</p>
