﻿@model IEnumerable<ProjektFit.Models.GroupModel>
@{
    ViewData["Title"] = "Members";
}
<h1>Members</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.AbleToModify == true)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a asp-action="RemoveUser" asp-route-id="@item.ID"><font color="red">Remove</font></a>
                    </td>
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    @if (ViewBag.User == item.UserId)
                    {
                        <td>
                            <a asp-action="RemoveUser" asp-route-id="@item.ID"><font color="red">Remove</font></a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<p>
    <a asp-action="Details" asp-route-id="@ViewBag.ID"><font color="black">Back to Group</font></a>
</p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}