﻿@model ProjektFit.Models.GroupUser
@{
    ViewData["Title"] = "Delete";
}
<h2>RemoveUser</h2>
<h3>Are you sure you want to unsubscribe this user ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupUserId)
        </dd>
    </dl>

    <form asp-action="RemoveUser">
        <input type="hidden" asp-for="GroupUserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |

    </form>
    <p>
        <a asp-action="Details" asp-route-id="@Model.GroupId"><font color="black">Back to List</font></a>
    </p>
</div>


