﻿@model ProjektFit.Models.Charts

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Charts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Waga" class="control-label"></label>
                <input asp-for="Waga" class="form-control" />
                <span asp-validation-for="Waga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObwodWKlatcePiersiowej" class="control-label"></label>
                <input asp-for="ObwodWKlatcePiersiowej" class="form-control" />
                <span asp-validation-for="ObwodWKlatcePiersiowej" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObwodWPasie" class="control-label"></label>
                <input asp-for="ObwodWPasie" class="form-control" />
                <span asp-validation-for="ObwodWPasie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><font color="black">Back to List</font></a>
</div>

