﻿@model ProjektFit.Models.Charts

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Charts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObwodWKlatcePiersiowej)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObwodWKlatcePiersiowej)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObwodWPasie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObwodWPasie)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ChartsId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <p>
            <a asp-action="Index"><font color="black">Back to List</font></a>
        </p>
    </form>
</div>
