﻿@model IEnumerable<ProjektFit.Models.Charts>

@{
    ViewData["Title"] = "Index";
}

<h2>Measurements</h2>
<p>
    <a asp-action="Create"><font color="teal">Add New Measurement</font></a>
</p>
<p>
    <a asp-action="Expense"><font color="black">Chart</font></a>
</p>

<br />

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Waga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObwodWKlatcePiersiowej)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObwodWPasie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Waga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObwodWKlatcePiersiowej)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObwodWPasie)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.ChartsId"><font color="navy">Edit</font></a> |
                    <a asp-action="Delete" asp-route-id="@item.ChartsId"><font color="red">Delete</font></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" >

    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Miesięczny wykaz parametrów'
        },
        
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ' Kilogramy/Centrymetry'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Waga',
            
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

        }, {
            name: 'Obwod w klatce piersiowej',
            data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

        }, {
            name: 'Obwod w pasie',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

        }]
    });

</script>
