﻿@model ProjektFit.Models.ExerciseTrainingPlan
@{
    ViewData["Title"] = "AddExercise";
}
<h2>Add exercise</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddExercise">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExerciseId" class="control-label"></label>
                <select asp-for="ExerciseId" class="form-control" asp-items="ViewBag.ExerciseId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <div>
        <a asp-action="Details" asp-route-id="@ViewBag.ID"><font color="black">Back to Training Plan</font></a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
