﻿@model ProjektFit.Models.TrainingPlan

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrainingPlanId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model.TrainingPlanId"><font color="black">Back to Training Plan</font></a>
</div>
