﻿@model IEnumerable<ProjektFit.Models.TrainingPlanPlusETPID>
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<p>
    @if (ViewBag.AbleToModify == true)
    {
        <p>
          <a asp-action="Edit" asp-route-id="@ViewBag.ID"><font color="navy">Change name</font></a>
        </p>
        <p>
            <a asp-action="Delete" asp-route-id="@ViewBag.ID"><font color="red">Delete</font></a>
        </p>       
        <p>
             <a asp-action="AddExercise" asp-route-id="@ViewBag.ID"><font color="teal">Add exercise</font></a>
        </p>
    }
    <p>
        <a asp-action="ExportToPDF" asp-route-id="@ViewBag.ID"><font color="black">Export To PDF</font></a>
    </p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calories)
                </td>
                <td>
                    <a href="/Exercises/Details/@Html.DisplayFor(modelItem => item.ExerciseId)"><font color="navy">Details</font></a>
                    @if (ViewBag.AbleToModify == true)
                    {
                        <text> | </text>
                        <a asp-action="RemoveExercise" asp-route-id="@item.ID"><font color="red">Remove</font></a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
<p>
    <dt>
        Owner
    </dt>
    <dd>
        @ViewBag.Owner
    </dd>
</p>
<p>
    <a asp-action="Index"><font color="black">Back to List</font></a>
</p>