﻿@model ProjektFit.Models.ExerciseTrainingPlan
@{
    ViewData["Title"] = "RemoveExercise";
}
<h2>Remove exercise</h2>
<h3>Are you sure you want to remove this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingPlan.Name)
        </dd>
    </dl>
    <form asp-action="RemoveExercise">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
    <p>
        <a asp-action="Details" asp-route-id="@Model.TrainingPlanId"><font color="black">Back to List</font></a>
    </p>
</div>
