﻿@model ProjektFit.Models.Meals
@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>
<h4>Meals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Typeofday" class="control-label"></label>
                <select asp-for="Typeofday" class="form-control" asp-items="ViewBag.Type"></select>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label> (kcal)
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protein" class="control-label"></label> (g)
                <input asp-for="Protein" class="form-control" />
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carbohydres" class="control-label"></label> (g)
                <input asp-for="Carbohydres" class="form-control" />
                <span asp-validation-for="Carbohydres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fats" class="control-label"></label> (g)
                <input asp-for="Fats" class="form-control" />
                <span asp-validation-for="Fats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index"><font color="black">Back to List</font></a>
</div>
