﻿@model ProjektFit.Models.Meals
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
@if (ViewBag.AbleToModify == true)
{
    <p>
        <a asp-action="Edit" asp-route-id="@Model.MealsId"><font color="navy">Edit</font></a>
    </p>
    <p>
        <a asp-action="Delete" asp-route-id="@Model.MealsId"><font color="red">Delete</font></a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typeofday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories) (kcal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protein) (g)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbohydres) (g)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fats) (g)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Typeofday)
            </td>
            <td>
                @Html.DisplayFor(model => model.Calories)
            </td>
            <td>
                @Html.DisplayFor(model => model.Protein)
            </td>
            <td>
                @Html.DisplayFor(model => model.Carbohydres)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fats)
            </td>
        </tr>
    </tbody>
</table>
<p>
    <a asp-action="Index"><font color="black">Back to List</font></a>
</p>
