﻿@model ProjektFit.Models.Meals
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MealsId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Typeofday" class="control-label"></label>
                <select asp-for="Typeofday" class="form-control" asp-items="ViewBag.Type"></select>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label> (kcal)
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protein" class="control-label"></label> (g)
                <input asp-for="Protein" class="form-control" />
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carbohydres" class="control-label"></label> (g)
                <input asp-for="Carbohydres" class="form-control" />
                <span asp-validation-for="Carbohydres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fats" class="control-label"></label> (g)
                <input asp-for="Fats" class="form-control" />
                <span asp-validation-for="Fats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model.MealsId"><font color="black">Back to List</font></a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

