﻿@model IEnumerable<ProjektFit.Models.Meals>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
}
<h2>Meals</h2>
<p>
    @if(ViewBag.Admin == true)
    {
        <a asp-action="Create"><font color="teal">Create New</font></a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MealsId"><font color="navy">Details</font></a>
                </td>
            </tr>
        }
    </tbody>
</table>
